/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	color: #0E2C54;
	font-family: Arial, Avenir, Myriad;
	background-color: #fbf8ef;
}

.body-container
{
	padding-left: 2%;
	padding-top: 2%;
}

/* Backmatter */

div.GlossaryPageDefinition
{
	font-size: 10pt;
}

div.GlossaryPageHeading
{
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom-color: #1B58A8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	color: inherit;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 10px;
	background-repeat: no-repeat;
	background-image: url('../Images/Backmatter-Heading-Background-Light.png');
}

div.GlossaryPageTerm
{
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}

MadCap|glossaryProxy
{
	border-top: none;
}

MadCap|indexProxy
{
	border-top: none;
}

p.Index1
{
	font-size: 10pt;
	font-weight: bold;
}

p.Index2
{
	font-size: 10pt;
	font-weight: normal;
}

p.IndexHeading
{
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom-color: #1B58A8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	color: inherit;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 12px;
	padding-right: 10px;
	background-image: url('../Images/Backmatter-Heading-Background.png');
	background-repeat: no-repeat;
}

/* Content */

img
{
	border: none;
	max-width: 100%;
}

p
{
	font-size: 12.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
}

p.table-text
{
	font-size: 12pt;
}

/* Frontmatter */

hr.title-page
{
	border: solid 0px transparent;
	background-color: #81C9EA;
	height: 1px;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 370px;
}

MadCap|tocProxy
{
	border-top: none;
	margin-right: 0.25in;
}

p.created-using-flare
{
	color: #07162A;
	font-weight: bold;
	margin-top: 18px;
	font-size: 9pt;
	line-height: 15pt;
	text-transform: uppercase;
}

p.title
{
	font-size: 55pt;
	line-height: 65pt;
	margin-top: 30px;
	mc-hyphenate: never;
}

p.title-page-footer
{
	color: #0E2C54;
	font-size: 9pt;
	frame-break-before: always;
	line-height: 15pt;
	margin-top: 30px;
}

p.title-page-url
{
	color: #0E2C54;
	font-size: 9pt;
	line-height: 15pt;
}

p.TOC1
{
	color: #0E2C54;
	font-size: 19pt;
	font-weight: normal;
	line-height: 21pt;
	margin-bottom: 15px;
	margin-top: 15px;
	page-break-after: avoid;
}

p.TOC2
{
	color: #0E2C54;
	font-size: 15pt;
	font-weight: normal;
	line-height: 21pt;
	margin-bottom: 13px;
	margin-left: .5in;
	margin-top: 13px;
}

p.TOC3
{
	color: #0E2C54;
	font-size: 13pt;
	line-height: 21pt;
	font-weight: normal;
	margin-bottom: 10px;
	margin-left: 1in;
	margin-top: 10px;
}

/* Headings */

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	color: #4E91C9;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	page-break-before: always;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

/* Home page topic */

div.home-layout
{
	padding: 2% 5%;
	background-color: #FBF8EF;
}

div.home-section
{
	border-bottom: solid 1px #81C9EA;
	padding: 3% 0;
}

div.home-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #C9EBF5;
	padding: 2%;
	color: #07162A;
}

div.home-tiles > div:nth-child(1)
{
	width: 48%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(2)
{
	width: 48%;
	margin-left: 4%;
}

div.home-tiles-layout	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles-layout::before
{
	content: ' ';
	display: table;
}

div.home-tiles-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-tiles-layout > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.home-tiles-layout > div:nth-child(2)
{
	width: 66.66667%;
	margin-left: 0%;
}

div.home-tiles-layout p
{
	line-height: 1.2;
}

div.quick-links	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.quick-links::before
{
	content: ' ';
	display: table;
}

div.quick-links::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.quick-links > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.quick-links > div:nth-child(1)
{
	width: 16.66666%;
	margin-left: 2%;
}

div.quick-links > div:nth-child(2)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(3)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(4)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(5)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links *	/*Text-align center set to all elements within div.quick-links*/
{
	text-align: center;
}

div.topic-hero
{
	padding: 5%;
	background-size: cover;
	background-attachment: scroll;
	background-color: #fbf8ef;
	color: #154483;
}

div.topic-hero h1
{
	color: #81C9EA;
	font-size: 48pt;
	text-align: center;
}

html.home-topic	/*Used on home topic to override padding set in the skin*/
{
	
}

html.home-topic .body-container	/*Overrides padding set in the skin*/
{
	padding: 0;
}

html.home-topic .main-section > .outer-row	/*Overrides padding set in the skin when in tablet/mobile*/
{
	max-width: 100%;
	padding: 0;
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0;
	color: #0E2C54;
}

/* Links */

a
{
	color: #4E91C9;
}

a:link
{
	color: #4E91C9;
}

a:visited
{
	color: #4E91C9;
}

MadCap|dropDown
{
	border-bottom: 1px solid #81C9EA;
	mc-image-position: left;
	mc-image-spacing: 10px;
	padding: 10px 0;
	mc-closed-image: url('../Images/Assets/Icons/Arrows/arrow-right-gray.png');
	mc-open-image: url('../Images/Assets/Icons/Arrows/arrow-down-gray.png');
}

MadCap|dropDownBody
{
	padding: 10px 30px 0;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
	font-size: 12pt;
	color: #4E91C9;
}

MadCap|expandingBody
{
	color: #0E2C54;
	font-style: italic;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #4E91C9;
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	color: #4E91C9;
}

/* Lists */

dd,
dd p,
dt,
dt p,
li,
li p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

dl,
ol,
ul
{
	letter-spacing: .25px;
	line-height: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Page layout */

p.frame-footer-page-number
{
	color: #1B58A8;
	font-size: 11pt;
	font-weight: bold;
	text-align: right;
}

p.frame-footer-text
{
	color: #1B58A8;
	font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase;
}

.page-layout-front-header
{
	background-color: #4E91C9;
	height: 155px;
	width: 825px;
}

.page-layout-front-logo
{
	height: 90px;
	width: 724px;
	background-color: transparent;
	background-image: url('../Images/Assets/PlaceholderLogo/EC-logo-mniejsze.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.page-layout-front-main
{
	background-color: #C9EBF5;
	height: 650px;
	margin: 0px;
}

.page-layout-front-footer
{
	height: 275px;
	margin: 0px;
	background-color: #0E2C54;
	background-image: url('../Images/Assets/HeroImage/im_hero-print_v.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/* Master page */

div.home-footer
{
	background-color: #4E91C9;
	padding: 2% 5%;
}

.home-footer-logo
{
	background-image: url('../Images/Assets/PlaceholderLogo/EC-logo-mniejsze.png');
	background-repeat: no-repeat;
	background-position: right center;
	width: 400px;
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: #FBF8EF;
}

p.footer-sub
{
	color: #FBF8EF;
	font-size: 14pt;
	margin-top: 14px;
}

MadCap|glossaryTerm
{
	color: #808000;
}

div.My-6x6-Layout	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.My-6x6-Layout::before
{
	content: ' ';
	display: table;
}

div.My-6x6-Layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.My-6x6-Layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.My-6x6-Layout > div:nth-child(1)
{
	width: 50%;
	margin-left: 0%;
}

div.My-6x6-Layout > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
}

ul ul
{
	list-style-type: circle;
}

ol ul
{
	list-style-type: circle;
}

@media only screen and (max-width: 1279px)
{
	/* Home page topic */

	div.home-tiles > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.home-tiles-layout > div:nth-child(1)
	{
		width: 40%;
		margin-left: 30%;
	}

	div.home-tiles-layout > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.quick-links > div:nth-child(1)
	{
		width: 24%;
		margin-left: 0%;
	}

	div.quick-links > div:nth-child(2)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.quick-links > div:nth-child(3)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.quick-links > div:nth-child(4)
	{
		width: 24%;
		margin-left: 19%;
	}

	div.quick-links > div:nth-child(5)
	{
		width: 24%;
		margin-left: 14%;
	}

	html.home-topic .body-container
	{
		margin-left: 0;
	}

	div.topic-hero
	{
		color: #fbf8ef;
	}

	div.My-6x6-Layout > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.My-6x6-Layout > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	/* Home page topic */

	div.home-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-top: 5%;
	}

	div.home-tiles-layout p
	{
		line-height: 1.2;
	}

	div.quick-links > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0;
	}

	div.quick-links > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.quick-links > div:nth-child(3)
	{
		width: 49%;
		margin-left: 0;
	}

	div.quick-links > div:nth-child(4)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.quick-links > div:nth-child(5)
	{
		width: 49%;
		margin-left: 25.5%;
	}

	.home-footer-logo
	{
		padding: 20px;
		background-origin: content-box;
		background-size: contain;
	}

	div.My-6x6-Layout > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.My-6x6-Layout > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}
}

@media print
{
	body
	{
		font-size: 11pt;
		line-height: 13pt;
		margin: 8px;
		background-color: transparent;
	}

	/* Content */

	p
	{
		margin-bottom: 10px;
		margin-top: 10px;
	}

	p.table-text
	{
		font-size: 11pt;
	}

	/* Headings */

	h1
	{
		font-size: 25pt;
		line-height: 27pt;
		margin-bottom: 20px;
		page-break-after: avoid;
		page-break-inside: avoid;
		page-break-before: always;
	}

	h2
	{
		font-size: 21pt;
		font-weight: normal;
		line-height: 23pt;
		margin-bottom: 18px;
		margin-top: 40px;
		page-break-before: avoid;
	}

	h3
	{
		font-size: 15pt;
		font-weight: bold;
		line-height: 17pt;
		margin-bottom: 15px;
		margin-top: 40px;
		mc-heading-level: 0;
	}

	/* Links */

	MadCap|xref
	{
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}

	p.Information1
	{
		font-size: ;
		border-left: solid 4px #f0a30a;
	}

	h3.faq
	{
		border-left-width: 3px;
		border-right-width: 3px;
		border-right-color: #81c9ea;
		letter-spacing: 0.12em;
		text-align: center;
		mc-heading-level: 0;
	}

	h4
	{
		mc-heading-level: 0;
	}

	h5
	{
		mc-heading-level: 0;
	}

	h6
	{
		mc-heading-level: 0;
	}

	div.GlossaryPageHeading
	{
		border-bottom-color: #81C9EA;
		background-image: url('../Images/Backmatter-Heading-Background-Secondary.png');
	}

	h1.TOC
	{
		text-transform: uppercase;
		mc-heading-level: 9;
		background: #4e91c9;
		color: #ffffff;
	}

	div.TOC
	{
		left: -2in;
		position: absolute;
		width: 10in;
		z-index: -1;
		height: 5rem;
		margin-top: 2rem;
		background-color: #4e91c9;
	}

	p.TOC9
	{
		color: transparent;
		font-size: 1pt;
		mc-pagenum-display: none;
	}

	p.TOC1
	{
		font-weight: bold;
		margin-left: 0pt;
		mc-leader-format: '_';
		page-break-after: avoid;
		font-size: 14pt;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	p.TOC2
	{
		font-size: 12pt;
		margin-left: 0.5in;
		margin-top: 13px;
		page-break-after: inherit;
	}

	p.TOC4
	{
		mc-heading-level: 0;
	}

	p.TOC5
	{
		mc-heading-level: 0;
	}

	p.TOC6
	{
		mc-heading-level: 0;
	}

	p.title-fm
	{
		font-size: 24pt;
	}

	p.title-page-h-pdf
	{
		font-weight: bold;
		color: #1b58a8;
		margin-bottom: 40px;
		margin-top: 30px;
		background-color: #c9ebf5;
		font-size: 28pt;
		line-height: 34pt;
	}

	p.title-page-p-pdf
	{
		margin-top: 20px;
		margin-bottom: 40px;
		background-color: #c9ebf5;
	}

	p.TOC3
	{
		font-size: 12pt;
		margin-bottom: 10px;
		margin-top: 10px;
		page-break-after: inherit;
	}
}

p.note1
{
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
	border-left: solid 4px #4169e1;
	font-size: 11pt;
	font-weight: normal;
	line-height: 1.25em;
	margin-left: 1pt;
	margin-top: 2pt;
	margin-bottom: 2pt;
	mc-auto-number-format: '{b}Note: {/b}';
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	margin-right: 1pt;
	border-radius: 6px;
}

p.note11
{
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
	width: 65%;
	font-size: 11.0pt;
	border-left-color: #4169e1;
	border-left-width: 4px;
	font-weight: normal;
	line-height: 1.25em;
	margin-bottom: 2pt;
	margin-top: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
	mc-auto-number-format: '{b}Note: {/b}';
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	border-left: solid 4px #4169e1;
	border-radius: 6px;
}

p.Information1
{
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
	font-size: 11.0pt;
	font-weight: normal;
	line-height: 1.25em;
	margin-right: 1px;
	margin-bottom: 2pt;
	margin-left: 1px;
	margin-top: 2pt;
	border-radius: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	border-left: solid 4px #f0a30a;
	mc-auto-number-format: '{b}Information: {/b}';
}

p.Information11
{
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
	font-size: 11pt;
	font-weight: normal;
	line-height: 1.25em;
	margin-bottom: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
	margin-top: 2pt;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	width: 65%;
	border-radius: 6px;
	border-left: solid 4px #f0a30a;
	mc-auto-number-format: '{b}Information: {/b}';
}

p.Warning1
{
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
	font-size: 11pt;
	font-weight: normal;
	line-height: 1.25em;
	margin-bottom: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
	margin-top: 2pt;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	border-radius: 7px / 6px;
	border-left: solid 4px #e51400;
	mc-auto-number-format: '{b}Caution: {/b}';
}

p.Warning11
{
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
	border-left: solid 4px #e51400;
	font-size: 11.0pt;
	line-height: 1.25em;
	margin-bottom: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
	margin-top: 2pt;
	mc-auto-number-format: '{b}Warning: {/b}';
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	width: 65%;
	border-radius: 6px;
}

p.example1
{
	
}

h3.faq
{
	font-weight: bold;
	font-size: 14.0pt;
	text-align: center;
	border: solid 1px #81c9ea;
	border-left-width: 3px;
	border-right-color: #81c9ea;
	border-bottom-width: 0px;
	border-right-width: 3px;
	border-top-width: 0px;
	letter-spacing: 0.12em;
}

p.example-entry
{
	font-size: 12.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
}

div.start_navigation
{
	padding: 5% 0;
	border-bottom: solid 1px #81C9EA;
	border-top-color: #81C9EA;
	border-top-style: solid;
	border-top-width: 1px;
	border-top: solid 1px #81C9EA;
}

table.basic-two
{
	width: 100%;
}

dt.company
{
	margin-bottom: 8px;
	margin-top: 8px;
	color: #1b58a8;
}

div.topic-hero-home
{
	background-size: cover;
	background-attachment: scroll;
	background-color: #fbf8ef;
	color: #154483;
	padding: 2% 3%;
}

div.start_navigation_home
{
	border-bottom: solid 1px #81C9EA;
	border-top-color: #81C9EA;
	border-top-style: solid;
	border-top-width: 1px;
	border-top: solid 1px #81C9EA;
	padding: 3% 0;
}

div.home-section-home
{
	border-bottom: solid 1px #81C9EA;
	padding: 3% 0;
}

strong.star
{
	color: #1b58a8;
}

p.title-fm
{
	font-size: 55pt;
	line-height: 65pt;
	margin-top: 30px;
	mc-hyphenate: never;
}

p.title-page-h-pdf
{
	font-size: 12.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
}

p.title-page-p-pdf
{
	font-size: 12.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	letter-spacing: 0.25px;
	widows: 3;
	orphans: 3;
}

